@{
    ViewData["Title"] = "Únete";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Empresa<br />
    Dirección<br />
    <abbr title="Teléfono">Tlf:</abbr>
    (+34) 999.888.777
</address>

<address>
    <strong>Email:</strong> <a href="mailto:tfg@tfg.com">tfg@tfg.com</a><br />
</address>
