<!--
Autor: AGUSTÍN IGLESIAS MOYA
Fecha: 22/04/2017

Controlador que interactua con la vista: PlanEstudioController

Vista que muestra:
    Datos para crear o editar un plan de estudio
    Botón para volver atrás
    Botón para guardar los datos

-->

<!--Modelo a mostrar-->
@model TFG.Models.PlanEstudio

@{    
    if (String.IsNullOrEmpty(Model.Descripcion)) /*Si es campo descripción es vacío se está cargando el formulario para crear*/
    {
        ViewData["Title"] = "Crear Plan de Estudio";
    }
    else /*Se está cargando el formulario para editar*/
    {
        ViewData["Title"] = "Editar Plan de Estudio";
    }
    <h2>@ViewData["Title"]</h2>
}


<div class="panel-body">    
    <!--Formulario que será enviado por POST al pulsar en el botón Guardar-->
        <form asp-action="CrearEditarPlanEstudio" role="form">
            <input id="id" class="form-control" type="hidden" value="@Model.Id" />
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Datos
                    </div>
                    <div class="alert-danger">
                        @Html.ValidationSummary(false)
                    </div>
                    <div class="panel-body">

                        <div class="form-group">

                            <dl class="dl-horizontal">
                                <dt>
                                    <label asp-for="Descripcion" class="control-label"></label>
                                </dt>
                                <dd>
                                    <input asp-for="Descripcion" class="form-control" />
                                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                                </dd>
                            </dl>

                            <div class="form-group">
                                <dl class="dl-horizontal">
                                    <dt>
                                        <label asp-for="NivelEducativoId" class="control-label"></label>
                                    </dt>
                                    <dd>
                                        <!--Select con la lista de niveles educativos-->
                                        <select name="NivelEducativoId" class="form-control" asp-items="ViewBag.NivelEducativoId"></select>
                                        <span asp-validation-for="NivelEducativoId" class="text-danger"></span>
                                    </dd>
                                </dl>
                            </div>

                            <div class="form-group">
                                <dl class="dl-horizontal">
                                    <dt>
                                        <label asp-for="ComunidadAutonomaId" class="control-label"></label>
                                    </dt>
                                    <dd>
                                        <!--Select con la lista de comunidades autónomas-->
                                        <select name="ComunidadAutonomaId" class="form-control" asp-items="ViewBag.ComunidadAutonomaId"></select>
                                        <span asp-validation-for="ComunidadAutonomaId" class="text-danger"></span>
                                    </dd>
                                </dl>
                            </div>

                            <dl class="dl-horizontal">
                                <dt>
                                    <label asp-for="Normativa" class="control-label"></label>
                                </dt>
                                <dd>
                                    <textarea asp-for="Normativa" class="form-control"></textarea>
                                    <span asp-validation-for="Normativa" class="text-danger"></span>
                                </dd>
                            </dl>
                        </div>


                        <a asp-action="Index" class="btn btn-default">Atrás</a>
                        <button class="btn btn-success" id="Guardar" type="submit">Guardar</button>
                    </div>
                </div>
            </div>
        </form>    
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}