
<div id="borrarModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="borrarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert alert-danger">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="borrarModalLabel">Atención</h4>
            </div>

            <div class="modal-body">
                Si continúa se perderan todos los datos de la <u>planificación</u>. ¿Desea continuar?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Atrás</button>
                <a id="borrarPlanificacion" asp-action="BorrarPlanificacion" asp-route-id="@Model.PlanificacionId" class="btn btn-danger">
                    <i class="glyphicon glyphicon-trash"></i> Borrar
                </a>
            </div>
        </div>
    </div>

</div>
